.container {
  background: dodgerblue;
  border: 4px solid midnightblue;
  width: 400px;
  height: 300px;

  display: flex;
  justify-content: center; /* main axis, based on flex-direction which is row by default */
  align-items: center; /* cross axis, opposite of justify-content */
  /* DON'T confuse this with align-content */
  /* better yet - experiment setting align-content here,
    it won't adjust like justify-content.
    it's for setting multi-row stuff*/
}

.box {
  background: palevioletred;
  font-weight: bold;
  text-align: center;
  border: 6px solid maroon;
  width: 80px;
  height: 80px;
}